.cabecalho {
    padding: 10px 0;
    background: #00008B;

}
#corletra{
    color: #C0C0C0;
}
.alinhaItem {
    margin: 0 auto;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}